html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
strong,
b {
  font-weight: 700;
}
body {
  color: #232323;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: roboto;
  line-height: 24px;
  background-color: #fafafa;
}
@media print {
  body {
    background-color: #fff;
  }
}
body::backdrop {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

.disableAutoScroll {
  height: auto;
}
